@font-face {
    font-family: "Orbitron", sans-serif;
}

* {
    font-family: "Orbitron";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a090d;
    color: #52b788;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
